.form1 {
	float: left;
}
.form1 + .form1 {
	padding-left: 20px;
}
.in1 {
	margin-left: 20px;
	text-align: right;
	width: 100px;
}
.in2 {
	margin-left: 20px;
	text-align: right;
	margin-right: -16px;
	padding-right: 16px;
	width: 84px;
}
body {
	line-height: 0px;
}
p {
	font-size: 10px;
	font-weight: bold;
}
p.header {
	font-size: 28px;
	font-weight: bold;
	line-height: 5px;
}
p.title {
	font-size: 45px;
	font-weight: bold;
	line-height: 0px;
}
